@import "tailwindcss";
@import "@fontsource-variable/jost";

@theme {
  --font-sans: 'Jost Variable', sans-serif;
  --color-primary: #4629a0;
  --color-primary-dark: #3a2080;
  --color-primary-light: #ede8ff;
}
